* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eeebeb;
    color: #333745;
}

header {
    background-color: #333745;
    color: #eeebeb;
    padding: 30px;
    text-align: center;

}



img {
    float: left;
    width: 200px;
    border-radius: 10%;
    margin-right: 30px;
    margin-left: 50px;
    padding: 10px;;

}

p { 
    font-size: 130%;
    margin: 20px;
    padding: 30px;

}
h3 {
    color: #333745;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.subtitulo {
    color: #333745;
    font-size: 200%;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(1fr, 2fr, 1fr);
    justify-content: space-between;
    justify-items: center;
    align-items: center;

}

.box { 
   display: flex;
    justify-content:flex-start;
    align-items: center;
        background-color: #ffb6b6;
    color: #333745;
    padding:10px;
    margin: 5px;
        border-radius: 5px;
    text-align: center;

    
}

   .container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
    justify-content: space-around;
    justify-items: auto;
    align-items: center;

}

.habilidade {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content:center;
    text-align:center;
    align-items: center;
    background-color: #333745;
    color: #eeebeb;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;

}


.content {
    background-color: #ffb6b6;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}


footer {
    background-color: #333745;
    color: #eeebeb;
    
    text-align:justify;
    justify-content:center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 76px;
    align-items: center;
}