* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: #ece4b7;
     margin: 0;
     padding: 0;
}
header {
    display: inline-block;
        align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: #ece4b7;
    color: #311e10;
    padding: 20px;
}
.menu {
    display: grid;
    position:sticky;
    position: -webkit-sticky;
   grid-template-columns: repeat(3, 1fr);
        align-items: center;
    padding: 2px;
    justify-content:space-between;
    background-color: #dd6031;
    font-size: 20px;
}


.secao {
    background-color: #ece4b7;
    display:inline;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #311e10;



}

.imagem {
    float: left;
    width: 100px;
    border: 10px solid #dd6031;
    padding: 10px #dd6031;

}


#titulo {

    background-color: #ece4b7;
    color: #311e10;
    text-align: center;
    padding: 50px;
    margin-top: 0px;

}