* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eeebeb;
    color: #333745;
}

header {
    background-color: #333745;
    color: #eeebeb;
    padding: 30px;
    text-align: center;

}



img {
    float: left;
    width: 250px;
    border-radius: 10%;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    padding: 30px;;

}

p { 
    font-size: 120%;
    margin: 20px;
    padding: 30px;

}

.subtitulo {
    color: #333745;
    font-size: 200%;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-around;
    justify-items: auto;
    align-items: center;

}
.box a { 
      display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffb6b6;
    color: #333745;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;

    


}



   .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-around;
    justify-items: auto;
    align-items: center;

}

.habilidade {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #333745;
    color: #eeebeb;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;

}


.content {
    background-color: #ffb6b6;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

footer {
    background-color: #333745;
    color: #eeebeb;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}